* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

#header {
  height: 15%;
  background-color: #430101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.navbar {
  background-color: #430101 !important;
}

#logo img {
  margin-left: 50%;
}

.subMenu {
  display: flex;
  justify-content: space-around !important;
}

.subMenuLink {
  font-size: 21px;
}

#contenedorPadre {
  width: 100%;
  height:100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 200px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2"
                        "item3 item3"
                        "item4 item4"

}

#footer {
  margin-top:1%;
  height: 15%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#redes {
  margin-right: 10%;
  margin-top:1%;
}

#redes span{
  margin: 10px;
}
#redes p{
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

#contactoFooter {
  margin-left: 1%;
  color: white;
}

#contactoFooter a{
  margin-left: 0.5%;
  outline: none;
  text-decoration: none;
  color: white;
}



/* ITEMS GRID */

#item1 {
  grid-area: item1;
  background-color: rgb(255, 255, 255);
  margin: 5rem 5rem 5rem 5rem;
}

#presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 28px;
}


#presentacion h2 {
  font-size: 60px;
  margin-bottom: 2rem;
  
}

#presentacion p {
  line-height: 34px;
  font-size: 35px;
}

.btn-cotizar{
  font-size: 15px;
  text-align: center;
  background: #430101;
  color: white;
  border: none;
  padding: 20px 52px;
  line-height: 18px;
  letter-spacing: 0.25em;
  margin-top: 2.5rem;
}

#item2 {
  grid-area: item2;
  width: 100%;
}

.img-item2 {
  width: 100%;
  height: 100%;
}

#item3 {
  grid-area: item3;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#item4 {
  grid-area: item4;
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:  "fotoUno fotoDos fotoTres fotoCuatro"
                        "fotoCinco fotoSeis fotoSiete fotoOcho"
                        "fotoNueve fotoDiez fotoOnce fotoDoce";
  grid-column-gap: 1%;
  grid-row-gap: 2%;
}

#tituloItem3 {
  grid-area: tituloItem5;
  background-color: #430101;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

#fotoUno {
  grid-area: fotoUno;
  background-color: pink;
  background-image: url("./img/foto1.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoDos {
  grid-area: fotoDos;
  background-color: green;
  background-image: url("./img/foto2.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoTres {
  grid-area: fotoTres;
  background-color: lightcoral;
  background-image: url("./img/foto3.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoCuatro {
  grid-area: fotoCuatro;
  background-color: purple;
  background-image: url("../img/foto4.png");
  background-size: cover;
  width: 100%;
}

#fotoCinco {
  grid-area: fotoCinco;
  background-color: greenyellow;
  background-image: url("./img/foto5.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoSeis {
  grid-area: fotoSeis;
  background-color: orange;
  background-image: url("./img/foto6.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoSiete {
  grid-area: fotoSiete;
  background-color: blue;
  background-image: url("./img/foto7.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoOcho {
  grid-area: fotoOcho;
  background-color: red;
  background-image: url("./img/foto8.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoNueve {
  grid-area: fotoNueve;
  background-color: red;
  background-image: url("./img/foto9.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoDiez {
  grid-area: fotoDiez;
  background-color: red;
  background-image: url("./img/foto10.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoOnce {
  grid-area: fotoOnce;
  background-color: red;
  background-image: url("./img/foto11.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}

#fotoDoce {
  grid-area: fotoDoce;
  background-color: red;
  background-image: url("./img/foto12.png");
  background-size: cover;
  width: 100%;
  background-position: center;
}




@media screen and (max-width: 1300px){

  #contenedorPadre {
    width: 100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "item1 item1" 
                          "item2 item2"
                          "item3 item3"
                          "item4 item4"
  
  }

  #item4 {
    grid-area: item4;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "fotoUno fotoDos"
                          "fotoTres fotoCuatro"
                          "fotoCinco fotoSeis"
                          "fotoSiete fotoOcho"
                          "fotoNueve fotoDiez"
                          "fotoOnce fotoDoce";
  
    grid-column-gap: 0.5%;
    grid-row-gap: 1%;
  }

  .titulo1{
    font-size: 49px;
  }

  .texto2 {
    line-height: 34px;
    font-size: 25px;
}

}

@media screen and (max-width: 950px){

  #contenedorPadre {
    width: 100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr 200px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "item1" 
                          "item2"
                          "item3"
                          "item4"
  
  }

  #item4 {
    grid-area: item4;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "fotoUno fotoDos"
                          "fotoTres fotoCuatro"
                          "fotoCinco fotoSeis"
                          "fotoSiete fotoOcho"
                          "fotoNueve fotoDiez"
                          "fotoOnce fotoDoce";
    grid-column-gap: 0.5%;
    grid-row-gap: 1%;
  }

  .titulo1{
    font-size: 49px;
  }

  .texto2 {
    line-height: 34px;
    font-size: 25px;
}

#redes {
  margin-top:3%;
}



}

@media screen and (max-width: 730px){

  #contenedorPadre {
    width: 100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr 200px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "item1" 
                          "item2"
                          "item3"
                          "item4"
                          "item5"
  
  }

  #item4 {
    grid-area: item4;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "fotoUno fotoDos"
                          "fotoTres fotoCuatro"
                          "fotoCinco fotoSeis"
                          "fotoSiete fotoOcho"
                          "fotoNueve fotoDiez"
                          "fotoOnce fotoDoce";
    grid-column-gap: 0.5%;
    grid-row-gap: 1%;
  }

  .titulo1{
    font-size: 49px;
  }

  .texto2 {
    line-height: 34px;
    font-size: 25px;
}

#redes {
  margin-top:3%;
}

  
}

@media screen and (max-width: 500px){

  #header {
    width: 100%;
    height: 15%;
    background-color: #430101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }


  #contenedorPadre {
    width: 100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr 200px 8fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "item1" 
                          "item2"
                          "item3"
                          "item4"

  
  }

  #item4 {
    grid-area: item4;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "fotoUno" 
                          "fotoDos"
                          "fotoTres"
                          "fotoCuatro"
                          "fotoCinco"
                          "fotoSeis"
                          "fotoSiete"
                          "fotoOcho"
                          "fotoNueve"
                          "fotoDiez"
                          "fotoOnce"
                          "fotoDoce";
  
    grid-column-gap: 0.5%;
    grid-row-gap: 1%;
  }

  .titulo1{
    font-size: 49px;
  }

  .texto2 {
    line-height: 34px;
    font-size: 25px;
}

#footer {


  width: 100%;
  margin-top:10.5%;
  height: 15%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#redes {
  margin-top:3%;
}

}