* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

#header {
  height: 15%;
  background-color: #430101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.navbar {
  background-color: #430101 !important;
}

#logo img {
  margin-left: 50%;
}

.subMenu {
  display: flex;
  justify-content: space-around !important;
}

.subMenuLink {
  font-size: 21px;
}

#contenedorPadre {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item1 item2"
                        "item3 item3"
}


#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: #000000;
}

#redes {
  margin-right: 10%;
  margin-top: 1%;
}

#redes span{
  margin: 10px;
}
#redes p{
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

#contactoFooter {
  margin-left: 1%;
  color: white;
}

#contactoFooter a{
  margin-left: 0.5%;
  outline: none;
  text-decoration: none;
  color: white;
}


/* ITEMS GRID */

#item1 {
  grid-area: item1;
  background-color: rgb(255, 255, 255);
  margin: 5rem;
}

#presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 28px;
}


#presentacion h2 {
  font-size: 60px;
  margin-bottom: 2rem;
  
}


#presentacion p {
  line-height: 34px;
  font-size: 35px;
}


#item2 {
  grid-area: item2;
  width: 100%;
}

#nosotros1 {
display: block;
position: relative;
margin-top: 25%;
}

#nosotros2 {
display: block;
position: relative;
margin-top: -55%;
margin-left:26%;
}

#nosotros1 img {
  border-radius: 5%;
  box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);
-webkit-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);
-moz-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);

}

#nosotros2 img {
  border-radius: 5%;
  box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);
  -webkit-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);
  -moz-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.82);
}


#item3 {
  grid-area: item3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

#item3 img {
width: 240px;
height: 120px;
}

#item3 p{
  line-height: 10px;
  font-weight: bold;
  }

#nameRedes {
  margin-left:25%;
  font-size: 25px;
}




@media screen and (max-width: 1375px){

  #contenedorPadre {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "item1"
                          "item2"
                          "item3"
  }

  #nosotros1 {
    display: inline-block;
    margin-top:0;
    margin-left:30%;
    margin-bottom: 2%;
    }
    
    #nosotros2 {
    display: inline-block;
    margin-top:0;
    margin-left:30%;
    }

    .titulo1{
      font-size: 49px;
    }
    
    
    .texto2 {
      line-height: 34px;
      font-size: 25px;
    }
    

}

@media screen and (max-width: 950px){


  #contenedorPadre {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "item1"
                          "item2"
                          "item3"
  }

  #nosotros1 {
    display: inline-block;
    margin-top:0;
    margin-left:25%;
    margin-bottom: 2%;
    }
    
    #nosotros2 {
    display: inline-block;
    margin-top:0;
    margin-left:25%;
    }

    .titulo1{
      font-size: 49px;
    }
    
    
    .texto2 {
      line-height: 34px;
      font-size: 25px;
    }
    
}

@media screen and (max-width: 730px){
  
  #contenedorPadre {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows:     1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "item1"
                          "item2"
                          "item3"
  }

  #nosotros1 {
    margin-top:0;
    margin-left:18%;
    margin-bottom: 2%;
    }
    
    #nosotros2 {
    margin-top:0;
    margin-left:18%;
    }

    .titulo1{
      font-size: 49px;
    }
    
    
    .texto2 {
      line-height: 34px;
      font-size: 25px;
    }
    
  
}

@media screen and (max-width: 600px){

  #header {
    width: 100%;
    height: 15%;
    background-color: #430101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }

  #contenedorPadre {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "item1"
                          "item2"
                          "item3"
  }

  #nosotros1 {
    margin-top:0;
    margin-left:10%;
    margin-bottom: 2%;
    }
    
    #nosotros2 {
    margin-top:0;
    margin-left:10%;
    }

    .titulo1{
      font-size: 49px;
    }
    
    
    .texto2 {
      line-height: 34px;
      font-size: 25px;
    }

    #footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 15%;
      background-color: #000000;
    }

  }



    @media screen and (max-width: 400px){

      #header {
        width: 100%;
        height: 15%;
        background-color: #430101;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
      }
    
      #contenedorPadre {
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item1"
                              "item2"
                              "item3"
      }
    
      #nosotros1 {
        margin-top:0;
        margin-left:1%;
        margin-bottom: 2%;
        }
        
        #nosotros2 {
        margin-top:0;
        margin-left:1%;
        
        }
    
        .titulo1{
          font-size: 49px;
        }
        
        
        .texto2 {
          line-height: 34px;
          font-size: 25px;
        }

        #item1 {
          grid-area: item1;
          background-color: rgb(255, 255, 255);
          margin: 1rem;
        }
        
        #presentacion {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        #presentacion h2 {
          font-size: 60px;
          margin-bottom: 2rem;
          
        }
        
        #presentacion p {
          line-height: 34px;
          font-size: 25px;
        }
    
        #footer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 15%;
          background-color: #000000;
        }
      }